/* admin.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    background:#f4f7fb;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    height:100vh;
    background:#919dba;
    color:white;

    padding:30px 20px;

    position:fixed;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo h2{
    font-size:30px;
    letter-spacing:2px;
}

.logo p{
    font-size:12px;
    color:#9ca3af;
    margin-top:5px;
    letter-spacing:2px;
}

/* MENU */

.menu{
    list-style:none;
    margin-top:40px;
}

.menu li{
    padding:15px;
    margin-bottom:10px;

    border-radius:12px;

    cursor:pointer;
    transition:0.3s;
}

.menu li i{
    margin-right:10px;
}

.menu li:hover,
.menu .active{
    background:#6366f1;
}

/* LOGOUT */

.logout{
    text-decoration:none;
    color:white;

    background:#1e293b;

    padding:15px;
    border-radius:12px;

    transition:0.3s;
}

.logout:hover{
    background:#ef4444;
}

/* MAIN */

.main{
    margin-left:260px;
    width:100%;

    padding:30px;
}

/* TOPBAR */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.topbar h1{
    font-size:38px;
}

.topbar p{
    color:gray;
    margin-top:5px;
}

.top-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.top-right input{
    width:250px;

    padding:12px 15px;

    border:none;
    border-radius:12px;

    outline:none;

    background:white;
}

/* ADMIN PROFILE */

.admin-profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.admin-profile img{
    width:50px;
    height:50px;

    border-radius:50%;
}

.admin-profile span{
    font-size:12px;
    color:gray;
}

/* CARDS */

.cards{
    margin-top:30px;

    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:20px;
}

.card{
    background:white;

    padding:25px;

    border-radius:20px;

    display:flex;
    align-items:center;
    gap:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.card h2{
    margin-bottom:5px;
}

.card p{
    color:gray;
}

/* ICON */

.icon{
    width:65px;
    height:65px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:24px;
}

.purple{
    background:#6366f1;
}

.green{
    background:#22c55e;
}

.orange{
    background:#f59e0b;
}

.blue{
    background:#3b82f6;
}

/* TABLE */

.table-container{
    background:white;

    margin-top:35px;

    padding:25px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;
}

.table-header button{
    background:#6366f1;
    color:white;

    border:none;

    padding:12px 18px;

    border-radius:10px;

    cursor:pointer;
    transition:0.3s;
}

.table-header button:hover{
    background:#4f46e5;
}

/* TABLE STYLE */

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#f3f4f6;

    padding:15px;

    text-align:left;
}

table td{
    padding:18px 15px;

    border-bottom:1px solid #eee;
}

/* STATUS */

.status{
    padding:7px 12px;

    border-radius:20px;

    font-size:12px;
    font-weight:bold;
}

.active{
    background:#dcfce7;
    color:#15803d;
}

.warning{
    background:#fef3c7;
    color:#b45309;
}

/* BUTTON */

.edit{
    background:#6366f1;
    color:white;

    border:none;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;
}

.edit:hover{
    background:#4f46e5;
}

.delete{
    background:#ef4444;
    color:white;

    border:none;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;

    margin-left:5px;
}

.delete:hover{
    background:#dc2626;
}